
$creme : #ECDFCC;
$vert : #697565;
$noir : #181C14;
$gris : #3C3D37;

$titre-h1 : 96px;
$titre-h2 : 60px;
$titre-h3 : 48px;
$titre-h4 : 35.5px;
$titre-h5 : 27.3px;
$titre-h6 : 21px;
$para : 16px;

$w-100 : 100%;
$w-80 : 80%;
$w-70 : 70%;
$w-60 : 60%;
$w-50 : 50%;
$w-40 : 40%;
$w-20 : 20%;

$font-p : "Inter", sans-serif ;
$font-t : "Antic Didone";


input{
    transition: 0.5s;
}

input:hover{
    transform: scale(1.1);
}

nav {
    z-index: 2;

}

.formulaire .img-forms{
    position: absolute;
    z-index: 0;
    top: -10.5vh;
    width: auto;
    height: 100%;
}

.formulaire-compte{
    margin-bottom: 33px;
}

.formulaire-compte .dur{
    margin-right: 33px;
}