$rose : #fc7ea5;
$h1-h3-font-family: "Italiana", Helvetica;
$h1-font-size: 96px;

$h2-h4-font-family: "Antic Didone", Helvetica;
$h2-font-size: 60px;

$h3-font-size: 46px;

$h4-font-size: 35.5px;

$h5-h6-p-font-family: "Inter", Helvetica;
$h5-font-size: 27px;

$h6-font-size: 21px;

$p-font-size: 16px;

$background-color : #ecdfcc;

*{
  margin: 0;
  padding: 0;
}
.nous-contacter {
    background-color: #ecdfcc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  //   left: 0px;
  //   padding: 0;
  //   margin: 0;
  }
  
// .overlap-wrapper{
//     top: -150px
// }

// .overlap{
//     top: -150px
// }

// .overlap-group{
//     top:-150px
// }




  // .nous-contacter .overlap-wrapper {
  //   background-color: #ecdfcc;
  //   overflow: hidden;
  //   width: 100%;
  //   height: 1668px;
  // }
  
  // .nous-contacter .overlap {
  //   position: relative;
  //   top: -1px;
  //   width: 100%;
  //   height: 1669px;
  // }
  
  // .nous-contacter .overlap-group {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 1669px;
  // }

//   a {
//     text-decoration: none;
//     color: #FFF;
//   }
  
//   nav li {
//     text-align: center;
//     font-family: "Antic Didone";
//     font-size: 35.5px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//   }
  
//   nav {
//     z-index: 99;
//     backdrop-filter: blur(10px);
//   }
  
//   nav button {
//     color: #FFF;
//   }
  
  // .nous-contacter .image-montre {
  //   position: absolute;
  //   width: 518px;
  //   height: 1668px;
  //   left: 0;
  //   background-color: #b3b3b3;
  //   padding: 0;
  //   margin: 0;
  // }
  
  // .nous-contacter .vintage-watch {
  //   position: absolute;
  //   width: 518px;
  //   height: 1668px;
  //   top: 0;
  //   left: 0;
  //   object-fit: cover;
  // }
  
  // .nous-contacter .formulaire {
  //   position: absolute;
  //   width: 665px;
  //   height: 459px;
  //   top: 509px;
  //   left: 597px;
  // }
  
  // .nous-contacter .nom {
  //   position: absolute;
  //   width: 309px;
  //   height: 68px;
  //   top: 11px;
  //   left: 0;
  //   border-radius: 41px;
  //   overflow: hidden;
  //   border: 3px solid;
  //   border-color: #000000;
  // }
  
  // .nous-contacter .text-wrapper {
  //   position: absolute;
  //   height: 36px;
  //   top: 12px;
  //   left: 23px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #00000099;
  //   font-size: 30px;
  //   letter-spacing: 0;
  //   line-height: normal;
  //   white-space: nowrap;
  // }
  
  // .nous-contacter .contenu {
  //   position: absolute;
  //   width: 653px;
  //   height: 191px;
  //   top: 140px;
  //   left: 0;
  //   border-radius: 41px;
  //   overflow: hidden;
  //   border: 3px solid;
  //   border-color: #000000;
  // }
  
  // .nous-contacter .div {
  //   position: absolute;
  //   height: 36px;
  //   top: 13px;
  //   left: 29px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #00000099;
  //   font-size: 30px;
  //   letter-spacing: 0;
  //   line-height: normal;
  //   white-space: nowrap;
  // }
  
  // .nous-contacter .prnom {
  //   position: absolute;
  //   width: 309px;
  //   height: 68px;
  //   top: 11px;
  //   left: 356px;
  //   border-radius: 41px;
  //   overflow: hidden;
  //   border: 3px solid;
  //   border-color: #000000;
  // }
  
  // .nous-contacter .text-wrapper-2 {
  //   position: absolute;
  //   height: 36px;
  //   top: 13px;
  //   left: 21px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #00000099;
  //   font-size: 30px;
  //   letter-spacing: 0;
  //   line-height: normal;
  //   white-space: nowrap;
  // }
  
//   .nous-contacter .CTA-connection {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//     padding: 10px 20px;
//     position: absolute;
//     border-radius: 100px;
//     overflow: hidden;
//     border: 2px solid;
//     border-color: red;
//   }
  
//   .nous-contacter .text-wrapper-3 {
//     position: relative;
//     align-self: stretch;
//     width: 260px;
//     margin-left: -18.50px;
//     margin-right: -18.50px;
//     font-family: "Inter-Regular", Helvetica;
//     font-weight: 400;
//     color: red;
//     font-size: 32px;
//     text-align: center;
//     letter-spacing: 0;
//     line-height: normal;
//   }

  .nous-contacter{
    background-color: #ecdfcc;
    overflow: hidden;
    width: 100%;
    height: 1668px;
  }
  
  .nous-contacter{
    position: relative;
    top: -1px;
    width: 100%;
    height: 1669px;
  }
  
  .nous-contacter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1669px;
  }


.vintage-watch{
  width: 100%;
}
.droite {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
  }

  .nous-envoyer-un{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.coordonnes{
  display: flex;
  flex-direction: column;
  align-items: center;

}

H2 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #697565;
    font-size: 50px;
    text-align: center;
  }

  p{
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  
  .nous-contacter .span {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #697565;
    font-size: 50px;
    letter-spacing: 0;
  }

  .nom-prenom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .Nom, .Prenom{
    color:#000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    border: 2px solid #000000;
    background-color: $background-color;
    border-radius: 900px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 100px;
    width: 310px;
    margin-bottom: 60px;
  }

  .Contenue{
    color:#000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    border: 2px solid #000000;
    background-color: $background-color;
    padding: 10px 20px;
    border-radius: 41px;
    margin-bottom: 60px;
    height: 191px;
    width: 653px;
    }

    .button{
    color:#000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    border: 2px solid;
    border-color: #000000;
    background-color: $background-color;
    border-radius: 900px !important;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 100px;
    width: 260px;
    text-align: center;
  }

  
  // .nous-contacter .text-wrapper-4 {
  //   font-family: "Inter-Bold", Helvetica;
  //   font-weight: 700;
  // }
  
  // .nous-contacter .component {
  //   position: absolute;
  //   width: 1440px;
  //   height: 878px;
  //   top: 0;
  //   left: 2px;
  //   overflow-x: hidden;
  // }
  
  // .nous-contacter .header {
  //   position: relative;
  //   width: 1440px;
  //   height: 200px;
  //   background-color: #d9d9d926;
  //   backdrop-filter: blur(15px) brightness(100%);
  //   -webkit-backdrop-filter: blur(15px) brightness(100%);
  // }
  
  // .nous-contacter .logo-horizontal {
  //   position: absolute;
  //   width: 243px;
  //   height: 124px;
  //   top: 38px;
  //   left: 50px;
  // }
  
  // .nous-contacter .navbar {
  //   position: absolute;
  //   width: 706px;
  //   height: 42px;
  //   top: 79px;
  //   left: 336px;
  // }
  
  // .nous-contacter .text-wrapper-5 {
  //   left: 583px;
  //   position: absolute;
  //   height: 42px;
  //   top: 0;
  //   font-family: var(--h4-font-family);
  //   font-weight: var(--h4-font-weight);
  //   color: #000000;
  //   font-size: var(--h4-font-size);
  //   text-align: center;
  //   letter-spacing: var(--h4-letter-spacing);
  //   line-height: var(--h4-line-height);
  //   white-space: nowrap;
  //   font-style: var(--h4-font-style);
  // }
  
  // .nous-contacter .text-wrapper-6 {
  //   left: 361px;
  //   position: absolute;
  //   height: 42px;
  //   top: 0;
  //   font-family: var(--h4-font-family);
  //   font-weight: var(--h4-font-weight);
  //   color: #000000;
  //   font-size: var(--h4-font-size);
  //   text-align: center;
  //   letter-spacing: var(--h4-letter-spacing);
  //   line-height: var(--h4-line-height);
  //   white-space: nowrap;
  //   font-style: var(--h4-font-style);
  // }
  
  // .nous-contacter .text-wrapper-7 {
  //   left: 180px;
  //   position: absolute;
  //   height: 42px;
  //   top: 0;
  //   font-family: var(--h4-font-family);
  //   font-weight: var(--h4-font-weight);
  //   color: #000000;
  //   font-size: var(--h4-font-size);
  //   text-align: center;
  //   letter-spacing: var(--h4-letter-spacing);
  //   line-height: var(--h4-line-height);
  //   white-space: nowrap;
  //   font-style: var(--h4-font-style);
  // }
  
  // .nous-contacter .text-wrapper-8 {
  //   left: 0;
  //   position: absolute;
  //   height: 42px;
  //   top: 0;
  //   font-family: var(--h4-font-family);
  //   font-weight: var(--h4-font-weight);
  //   color: #000000;
  //   font-size: var(--h4-font-size);
  //   text-align: center;
  //   letter-spacing: var(--h4-letter-spacing);
  //   line-height: var(--h4-line-height);
  //   white-space: nowrap;
  //   font-style: var(--h4-font-style);
  // }
  
  // .nous-contacter .picto-header {
  //   position: absolute;
  //   width: 228px;
  //   height: 48px;
  //   top: 76px;
  //   left: 1124px;
  // }
  
  // .nous-contacter .panier {
  //   position: absolute;
  //   width: 48px;
  //   height: 48px;
  //   top: 0;
  //   left: 88px;
  // }
  
  // .nous-contacter .recherche {
  //   position: absolute;
  //   width: 40px;
  //   height: 40px;
  //   top: 4px;
  //   left: 0;
  // }
  
  // .nous-contacter .compte {
  //   position: absolute;
  //   width: 44px;
  //   height: 44px;
  //   top: 2px;
  //   left: 184px;
  // }
  
  // .nous-contacter .coordonnes {
  //   position: absolute;
  //   width: 922px;
  //   height: 555px;
  //   top: 1026px;
  //   left: 518px;
  // }
  
  // .nous-contacter .tlphone {
  //   position: absolute;
  //   width: 404px;
  //   height: 175px;
  //   top: 0;
  //   left: 209px;
  // }
  
  // .nous-contacter .text-wrapper-9 {
  //   position: absolute;
  //   width: 393px;
  //   height: 90px;
  //   top: -1px;
  //   left: 4px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #697565;
  //   font-size: 50px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;
  // }
  
  // .nous-contacter .text-wrapper-10 {
  //   position: absolute;
  //   width: 408px;
  //   height: 65px;
  //   top: 99px;
  //   left: -4px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #000000;
  //   font-size: 20px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;
  // }
  
  // .nous-contacter .e-mail {
  //   position: absolute;
  //   width: 408px;
  //   height: 175px;
  //   top: 195px;
  //   left: 207px;
  // }
  
  // .nous-contacter .text-wrapper-11 {
  //   position: absolute;
  //   width: 404px;
  //   height: 90px;
  //   top: -1px;
  //   left: 2px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #697565;
  //   font-size: 50px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;
  // }
  
  // .nous-contacter .text-wrapper-12 {
  //   position: absolute;
  //   width: 408px;
  //   height: 65px;
  //   top: 99px;
  //   left: 0;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #000000;
  //   font-size: 20px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;
  // }
  
  // .nous-contacter .adresse {
  //   position: absolute;
  //   width: 400px;
  //   height: 175px;
  //   top: 390px;
  //   left: 211px;
  // }
  
  // .nous-contacter .text-wrapper-13 {
  //   position: absolute;
  //   width: 408px;
  //   height: 90px;
  //   top: -1px;
  //   left: -8px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #697565;
  //   font-size: 50px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;
  // }
  
  // .nous-contacter .text-wrapper-14 {
  //   position: absolute;
  //   width: 408px;
  //   height: 65px;
  //   top: 99px;
  //   left: -8px;
  //   font-family: "Inter-Regular", Helvetica;
  //   font-weight: 400;
  //   color: #000000;
  //   font-size: 20px;
  //   text-align: center;
  //   letter-spacing: 0;
  //   line-height: normal;


  // }
  
